<div class="home-banner">
  <div class="banner-top">
    <div class="desktop">
      <div id="avatar">
        <!-- <image src="images/avatar.jpg"> -->
      </div>
      <div class="avatar-text name"> MAX RAMIREZ-DE-ARELLANO</div>
      <div class="avatar-text role"> FULL STACK DEVELOPER</div>

      <div class="home-list">
        <ul style="list-style-type:none;">
          <div class="home-list-item">
            <li><%= link_to'PORTFOLIO', portfolio_path, class: 'link'%></li>
            <li class="arrow">></li>
          </div>
          <div class="home-list-item">
            <li><%= link_to'ABOUT', about_path, class: 'link'%></li>
            <li class="arrow">></li>
          </div>
        </ul>
      </div>
    </div>

    <div class="home-list bottom">
      <ul style="list-style-type:none;">
        <li  class="in-touch" style="font-size: .6rem">GET IN TOUCH</li>
      </ul>
      <div class="icons">
        <a href="https://github.com/maxfrda" class="fa fa-github fa-2x icon" aria-hidden="true"></a>
        <a href="mailto: maxfrda@gmail.com" class="fa fa-envelope fa-2x icon" aria-hidden="true"></a>
        <a class="fa fa-bars fa-2x icon hamburger"></a>
      </div>

      <div class="dropdown">
        <hr>
        <div class='dropdown-items'>
          <div><%= link_to'PORTFOLIO', portfolio_path, method: :get, class: 'dropdown-item'%></div>
          <div><%= link_to'ABOUT', about_path, method: :get, class: 'dropdown-item'%></div>
        </div>
      </div>

    </div>
  </div>
</div>
