<div class="home-banner">
  <div class="banner-top">
      <div class="desktop">
        <div id="avatar">
          <!-- <image src="images/avatar.jpg"> -->
        </div>
        <div class="avatar-text name"> MAX RAMIREZ-DE-ARELLANO</div>
        <div class="avatar-text role"> FULL STACK DEVELOPER</div>

        <div class="home-list">
          <ul style="list-style-type:none;">
            <div class="home-list-item">
              <li>PORTFOLIO</li>
              <li class="arrow">></li>
            </div>
            <div class="home-list-item">
              <li>CONTACT ME</li>
              <li class="arrow">></li>
            </div>
          </ul>
        </div>
      </div>

      <div class="home-list bottom">
        <ul style="list-style-type:none;">
          <li  class="in-touch" style="font-size: .6rem">GET IN TOUCH</li>
        </ul>
        <div class="icons">
          <i class="fa fa-github fa-2x icon" aria-hidden="true"></i>
          <i class="fa fa-envelope fa-2x icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
