
<div class="about-container">
  <div class=left-banner></div>
  <%= render :partial => 'shared/left_banner' %>
  <div class="middle-text">
    <div class="about-text">
      <p class="portfolio-header"> ABOUT</p>
      <hr class='break'>
      <p class='text-spacing'>After graduating from Le Wagon's<a href='https://www.lewagon.com/'>coding bootcamp</a> , I spent several months
        building applications, with the hope that they could be shown to employers to prove competence, which would increase my chances
        of getting interviewed. Linking web applications directly from my resumé was not very effective,
         so I decided this site would better demonstrate my ability.

      <p class='text-spacing'>The applications listed on here are now several years old, and have not been updated since this site 
        was deployed.
      </p>
    </div>
  </div>
  <div class="right-banner"></div>
</div>