
<div class="about-container">
  <div class=left-banner></div>
  <%= render :partial => 'shared/left_banner' %>
  <div class="middle-text">
    <div class="about-text">
      <p class="portfolio-header">ABOUT</p>
      <hr class='break'>
      <p class='text-spacing'> After graduating from Le Wagon's <a class='about-link' href='https://www.lewagon.com/'>coding bootcamp</a>, I spent several months
        building applications in an effort to shore up my ability.
      <p class='text-spacing'> Shortly after deploying this site, I received an offer
        to work for <a href="https://www.approveshield.com/"class="about-link">ApproveShield</a> as a <span class="blue">
          full stack web developer</span>. Being a start-up company with just 1 other developer,
        I had to wear many hats, with responsibilities ranging from front/backend work,
        to maintaining the application's server, to hiring new engineers.
      </p>
        <hr class='break'>
        <p class='text-spacing'>
        However, the bulk of my work was centered on <span class="bold">improving the application
        to increase the speed at which employees could do their job.</span> This included:
      </p>
      <ul class="list">
        <li>Improving UI to minimize scrolling</li>
        <li>Writing faster SQL queries</li>
        <li>Lazy loading data to decrease page load time</li>
        <li>Using WickedPDF gem to generate documents from forms</li>
        <li>Integrating APIs</li>
      </ul>
      <p class='text-spacing'>
           These crucial contributions helped the company
           grow revenue by <span class="blue">300%</span>.
      </p>
      <hr>
      <p class='text-spacing'>
        Seeking a better opportunity, I began working at <a href="https://www.assurant.com/"class="about-link">Assurant</a> to help develop
        <span class="blue"> Pocketgeek Home</span>, an application which can be found on <a href="https://apps.apple.com/us/app/pocket-geek-home/id1410854379" class="about-link">iOS</a>,
        <a href="https://play.google.com/store/apps/details?id=com.pocketgeek.home.android&hl=en_US&gl=US&pli=1" class="about-link">Android </a>, and <a href="https://www.pocketgeekhome.com/" class="about-link">Web</a>.
        A large portion of my time here was spent <span class="bold">engineering a white-labeled version
        of the app in conjunction with T-Mobile</span> which allows users to add insurance
        to pre-owned phones without getting it physically inspected. Some of my contributions
        included:
      </p>
        <ul class="list">
          <li>Developing a backend API with TypeScript/GraphQL to communicate with database</li>
          <li>Integrating hardware test SDK for device diagnostics</li>
          <li>Coordinating with UI team to develop user flow for device registration</li>
          <li>Creating responsive screens to work on mobile and web</li>
        </ul>
        <p class='text-spacing'>
        This allowed me to expand my toolset,
        having the chance to work with a variety of newer technologies, such as <span class="blue">GraphQL</span>,
        <span class="blue">React Native</span>, <span class="blue">Redux</span>, <span class="blue">TypeScript</span>, and <span class="blue">Docker</span>, while also continuing to strengthen
        my ability in <span class="blue">Ruby on Rails</span>, <span class="blue">MySQL2</span>, and <span class="blue">Javascript</span>. 
      </p>
    </div>
  </div>
  <div class="right-banner"></div>
</div>