<div class="about-container">
  <div class=left-banner></div>
  <%= render :partial => 'shared/left_banner' %>
  <div class="middle-text">
    <div class="about-text">
      <p class="portfolio-header"> ABOUT ME</p>
      <hr class='break'>
      <p class='text-spacing'>I decided to leave school a year ago to accelerate my education by
        attending a coding bootcamp (<a href='https://www.lewagon.com/'>Le Wagon</a>). I saw it as a more cost-effective
        and time-efficient way of learning everything required to create my own
        applications and obtaining the necessary foundation to continue learning
        independently.

      </p>
      <p class='text-spacing'>It was successful and now I feel like the most effective use of
        my abilities would be in a software development or engineering role. <span class='blue-text'>I have
        built applications both independently and with a team</span>, so I am confident I would
        be able to effectively contribute.</p>

      <p class='text-spacing'>I also have extensive sales experience having worked for Sprint/T-Mobile
       in a sales lead capacity for the better part of 3 years. </p>

       <p class='text-spacing'>Feel free to contact me at <b>maxfrda@gmail.com</b></p>
    </div>
  </div>
  <div class="right-banner"></div>
</div>
