<div class="home-container">
  <%= render :partial => 'shared/left_banner' %>
  <div class="about-text">
      <p class="portfolio-header"> ABOUT ME</p>

      <p>I decided to leave school a year ago to accelerate my education by attending
      a coding bootcamp (Le Wagon). I saw it as a more cost-effective and time-efficient
      way of learning everything required to create my own applications and obtaining
      the necessary foundation to continue learning independently. It was successful
      and now I feel like the most effective use of my abilities would be in a
      software development or engineering role. I have built applications both
      independently and with a team, so I am confident I would be able to
      effectively contribute. </p>
  </div>
  <div class="empty-banner"></div>
</div>
