<div class="background-image">
  <div class='home-container'>
  <%= render :partial => 'shared/left_banner' %>
    <div class="home-text">
      <h1> Hi, I'm Max,</h1>
      <h2> a software engineer specialized in both</h2>
      <h2 style="font-weight: bold"> front-end and back-end</h2>
      <div class="home-buttons">
        <button class="home-button">PORTFOLIO</button>
        <button class="home-button">ABOUT ME</button>
      </div>
    </div>
  </div>
</div>
