<div class="background-image">
  <div class='home-container'>
    <div class="home-banner">
      <div class="banner-top">
        <div id="avatar">
          <!-- <image src="images/avatar.jpg"> -->
        </div>
        <div class="avatar-text name"> MAX RAMIREZ-DE-ARELLANO</div>
        <div class="avatar-text role"> FULL STACK DEVELOPER</div>

        <div class="home-list">
          <ul style="list-style-type:none;">
            <li>PORTFOLIO</li>
            <li>CONTACT ME</li>
          </ul>
        </div>

        <div class="home-list">
          <ul style="list-style-type:none;">
            <li style="font-size: .6rem">GET IN TOUCH</li>
          </ul>
          <div class="icons">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="home-text">
      <h1> Hi, I'm Max,</h1>
      <h2> a software engineer specialized in both</h2>
      <h2 style="font-weight: bold"> front-end and back-end</h2>

      <div class="home-buttons">
        <button class="home-button">PORTFOLIO</button>
        <button class="home-button">ABOUT ME</button>
      </div>

    </div>

  </div>
</div>
