<div class="home-container">
  <%= render :partial => 'shared/left_banner' %>
   <div class="portfolio-text">
    <p class="portfolio-header"> PORTFOLIO</p>
    <p class="portfolio-paragraph"> The following are a list of my works.</p>
    <hr class="dashed">
    <div class='project'>
      <div class="project-text">
        <p class='project-header'>The Simple Diary</p>
        <p class='project-subtitle'>A Diary designed to be intuitive and easy to use</p>
        <p class="project-bold"> The Simple Diary allows users to record their entries
        without having to navigate all the unnecessary bloat that plagues similar applications.
       The app does several things:</p>
        <ul>
          <li>Allows users to create and update entries, with timestamps</li>
          <li>Provides simple navigation of entries using a single-page carousel</li>
          <li>Works on desktops/tablets(not designed for mobile)
        </ul>
        <button class="view-online">
        <i class="fa fa-external-link white-color"></i>
         View online
        </button>
      </div>
      <div class="project-image">
        <%= image_tag 'TheSimpleDiary.png' %>
      </div>
    </div>
  </div>
</div>
