<div class="home-container">
  <%= render :partial => 'shared/left_banner' %>
   <div class="portfolio-text">
    <p class="portfolio-header"> PORTFOLIO</p>
    <p class="portfolio-paragraph"> The following are a list of my works.</p>
    <hr class="dashed">
    <div class='project'>
      <div class="project-text">
        <p class='project-header'>The Simple Diary</p>
        <p class='project-subtitle'>A Diary designed to be intuitive and easy to use</p>
        <p class="project-bold"> The Simple Diary allows users to record their entries
        without having to navigate all the unnecessary bloat that plagues similar applications.
       The app does several things:</p>
        <ul>
          <li>Allows users to create and update entries, with timestamps</li>
          <li>Provides simple navigation of entries using a single-page carousel</li>
          <li>Works on desktops/tablets(not designed for mobile)</li>
        </ul>
        <button class="view-online">
        <i class="fa fa-external-link white-color"></i>
         View online
        </button>
        <p class="tech">TECHNOLOGIES</p>
        <button class="tech-button">RUBY ON RAILS</button>
        <button class="tech-button">JAVASCRIPT</button>
        <button class="tech-button">JQUERY</button>


      </div>
      <div class="project-image">
        <%= image_tag 'TheSimpleDiary.png' %>
      </div>
    </div>
    <hr class="dashed">
      <div class='project'>
        <div class="project-text">
          <p class='project-header'>T-Mobile Plan Comparison Tool</p>
          <p class='project-subtitle'>An interactive plan comparison tool designed for front-line use</p>
          <p class="project-bold"> This plan comparison tool allows front line T-Mobile employees
          to quickly compare most used T-Mobile plans. It was made for the following reasons: </p>

        <p> There was no easy way to quickly compare our plans. Plenty of co-workers expressed the desire
          for such a tool. It allows us to access information on our most used plans and also compare the
          prices of them, depending on the number of lines of service. It is reponsive to all devices, and
          is actively being used by front-line employees in our district
        </p>

        </div>
      <div class="project-tmo">
        <%= image_tag 'Tmobile.png' %>
      </div>
      </div>
  </div>
</div>
