
.experience-project{
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.company-logo img{
  height: 1.5rem;
  margin-right: .5rem;
  margin-left: -2rem;
  object-fit: contain;
}

.experience-company {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  margin-top: 1rem;
}

.experience-header{
  font-size: 1.6rem;
}

.work-title{
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.work-position-container{
  display: flex;
  vertical-align: bottom;

}

.work-dot{
  margin-left: .5rem;
  margin-right: .5rem;
}

@media screen and (max-width: 1000px) {
  .experience-header{
    font-size: 2.8rem;
  }

  .experience-company {
    margin-top: 2rem;
  }

  .company-logo img{
    height: 2.5rem;
    margin-right: .5rem;
    margin-left: -2.9rem;
    object-fit: contain;
  }

  .experience-project{
    display: block;
    margin-right: 3rem;
    margin-left: 6rem;
  }
}