body{
  margin: 0;
  padding: 0;
}

.background-image{

  background-image: url('bay.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat:no-repeat;


}

.home-banner{
  width: 25vw;
  height: 100vh;
  background-color: #335ACA;
  opacity: 90%;
}


.home-container{
  display: flex;
  justify-content: space-between;
}


.banner-top{
  height: 30%;
  background-color: #335ACA;;
  padding-top: 1rem;
}

#avatar{
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('avatar1.jpg');

    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: inset 1px 1px 20px 1px #000;

}

.avatar-text{
  color: white;
  text-align: center;
  margin: .5rem;

}

.name{
  font-size: 1.2rem;
  font-weight: 300;

}

.role{
  font-size: .9rem;
}

.home-list{
  margin-top: 5rem;
  color: white;
  font-size: .8rem;
}

li{
  margin: .7rem;
  margin-right: 0;
  margin-bottom: 0;
}

.icons{
  padding: .4rem;
  margin-left: 1rem
}

i{
  margin-left: .5rem;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.9rem;
  margin: .5rem;
  margin-left: 0;
  font-weight: lighter;
}

.home-text{
  width: 70vw;
  color: white;
  padding: 4rem;
  text-shadow: 1px 1px black;
}

.home-button{
  background-color: transparent;
  padding: .4rem;
  border: .05rem solid white;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(0,0,0,0.2);
  display: block;
  margin-top: 1rem;
  opacity: 80%;
}

.home-button:hover{
  opacity: 100%;
}

.home-buttons{
  margin-top: 3rem;
}

.home-list-item{
  display: flex;
  opacity: 70%;
}

.arrow{
  display: none;
}

.home-list-item:hover > .arrow{
  display: block;
  opacity: 100%;
}

.home-list-item:hover{
  opacity: 100%;
}


i{
  opacity: 50%;
}

i:hover{
  opacity: 100%;
}

.in-touch{
  opacity: 70%;
}

@media screen and (max-width: 1000px) {
  .home-banner{
    height: 7vh;
    width: 100vw;
  }

  .home-container{
    display: block;
  }

  .desktop,
  .in-touch{
    display: none;
  }

  .icons{
    font-size: 1.7rem;
    padding-top: 1.8rem;
  }
  .banner-top{
    padding: 0rem;
  }

  .bottom{
    margin: 0;
  }

  ul{
    margin: 0;
  }

  i{
    padding-left: .5rem;
  }

  h1{
  font-size: 3.5rem;
  }

  h2{
  font-size: 2.5rem;
  }

  .home-button{
    font-size: 2rem;
    padding: .8rem;
  }
}
