.portfolio-text{
  width: 70vw;
  padding: 1.5rem;
}



.portfolio-header,
.portfolio-paragraph,
.project-header,
.project-subtitle,
.tech{
  font-family: serif;
  color: rgb(85,85,85);
}

.portfolio-paragraph{
  font-size: .9rem;
}
.portfolio-header{
  font-size: 2rem;
  margin-bottom: .5rem;
}

.project-header{
  font-size: 1.5rem;
  margin-bottom: .5rem;

}

.project{
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.project-subtitle{
  font-size: 1rem;
}

.project-bold{
  font-weight: bold;
  font-size: .9rem;
}



.project-image img{
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}

.project-tmo img{
  width: 30rem;
  height: 15rem;
  object-fit: contain;
}

.view-online{
  background-color: #335ACA;
  color: white;
  padding: .6rem;
  font-size: .8rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.view-online:hover{
  text-decoration: underline;
}
.white-color {
  opacity: 100%;
  padding-right: .2rem;
}

.tech{
  font-size: .7rem;
}

.tech-button{
  background-color: #335ACA;
  color: white;
  padding: .4rem;
  font-size: .6rem;
  border: none;
}

