.portfolio-text{
  width: 70vw;
  padding: 1.5rem;
  margin-bottom: 3rem;
  overflow: auto;
  float: right;
}



.portfolio-header,
.portfolio-paragraph,
.project-header,
.project-subtitle,
.tech{
  /*font-family: serif;*/
  color: rgb(85,85,85);
}

.portfolio-paragraph{
  font-size: .9rem;
}
.portfolio-header{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.project-header{
  font-size: 1.5rem;
  margin-bottom: .5rem;

}

.project{
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.project-subtitle{
  font-size: 1rem;
}

.project-bold{
  font-weight: bold;
  font-size: .9rem;
}



.project-image img{
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}

.project-tmo img{
  width: 30rem;
  height: 15rem;
  object-fit: contain;
  margin-top: 3rem;
}

.project-tgg img{
  width: 30rem;
  height: 15rem;
  object-fit: contain;
  margin-top: 3rem;

}

.view-online{
  background-color: #335ACA;
  color: white;
  padding: .6rem;
  font-size: .8rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.view-online:hover{
  text-decoration: underline;
}
.white-color {
  opacity: 100%;
  padding-right: .2rem;
}

.tech{
  font-size: .7rem;
}

.tech-button{
  background-color: #335ACA;
  color: white;
  padding: .4rem;
  font-size: .6rem;
  border: none;
}

.mobile-avatar{
  display: none;
}

@media screen and (max-width: 1000px) {
/*  .home-container{
    display: block;
  }
*/


.mobile-avatar{
  display: block;
  background-color: #335ACA;
}

.avatar-text{
  margin: 0;
}

.project-subtitle{
  margin-bottom:  3rem;
}
  .project{
    display: block;
    margin-right: 3rem;
    margin-left: 4rem;
  }

  .portfolio-text{
  width: 100vw;
  margin-bottom: 3rem;
  margin-top: 4rem;


}

.project-bold{
  margin-bottom: 3rem;
}

.project-header{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;

}

.project-bold{
  font-size: .8rem;
}

li{
  font-size: .7rem;
}

.home-banner{
  position: absolute;
}

.portfolio-header,
.portfolio-paragraph{
  text-align: center;
}

.portfolio-header{
  font-size: 4rem;
  margin-top: 4rem;
}

.project-image,
.project-tmo,
.project-tgg{
  text-align: center;
}

.project-image{
  margin-top: 3rem;
}

.tech-button{
  font-size: 1rem;
  padding: .8rem;
}

.view-online{
  font-size: 1.5rem;
  padding: 1rem;
}

ul{
  margin-bottom: 2rem;
}

.project-tmo img{
  width: 50rem;
  height: 23rem;
  object-fit: contain;
  margin-top: 3rem;
}

.icon{
  margin-left: .9rem;
}

}
